a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:hover {
  color: aqua;
  text-decoration: underline;
}
a:active {
  color: red;
}

a:visited:hover {
  color: orange;
}

.synopsis {
  color: #7e8184; /* Light gray */
  font-style: italic;
}

.synopsis em {
  font-style: normal;
}

.button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  border: 2px solid #5d6063; /* Dark gray */
  border-radius: 5px;
  background-color: #5995da; /* Blue */
  font-weight: bold;
}

.call-to-action {
  display: block;
  font-style: italic;
  background-color: #eeb75a; /* Yellow */
}

.button:link .button:visited {
  text-decoration: none;
  color: #fff;
}

.button:hover,
.button:visited:hover {
  color: #fff;
  text-decoration: none;
  background-color: #76aeed; /* Light blue */
}

.button:active,
.button:visited:active {
  color: #fff;
  background-color: #5995da; /* Blue */
}

.call-to-action:link,
.call-to-action:visited {
  font-style: italic;
  background-color: #eeb75a; /* Yellow */
}

.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #f5cf8e; /* Light yellow */
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color: #eeb75a; /* Yellow */
}

.page {
  width: 600px;
  margin: 0 auto;
}
